 #onMouseExited{
     -fx-background-radius : 0;
     -fx-background-color: #282828;
     -fx-text-fill : white
 }

 #onMouseEntered {
     -fx-background-radius : 0;
     -fx-background-color:#363636;
     -fx-text-fill : white
 }
 #onMouseClicked{
     -fx-background-radius : 0;
     -fx-background-color:#747474;
     -fx-text-fill : white
 }