#AddButton {
	-fx-background-radius : 0;
	-fx-background-color : #4CCD07;
}

#DeleteButton {
    -fx-background-radius:0;
    -fx-background-color : red;
}
#SaveButton {
	-fx-background-radius : 100;
	-fx-background-color : #4CCD07;
}