#AddButton {
	-fx-background-radius : 0;
	-fx-background-color : #088A29;
}

#DeleteButton {
    -fx-background-radius:0;
    -fx-background-color : red;
}
#SaveButton {
	-fx-background-radius : 0;
	-fx-background-color : #0174DF;
}